<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- header start -->

    <%- include('header') %>

    <!-- header end -->

    <!-- container start -->
    <div class="container">
      <div class="container_title">
        <div class="title_wrap">
          <h2>전체 글</h2>
          <span><%= data.length %></span>
          <p><a href="/ins">insert</a></p>
        </div>
      </div>
      <div class="container_wrap">
        <div class="container_lt">
          <!-- boardlist start -->
          <% data.forEach((el, index) => { %>
          <a href="/view/<%= el.id %>">
            <div class="boardlist">
              <div class="content">
                <div class="title">
                  <span><%= el.title %></span>
                </div>
                <div class="text">
                  <p><%= el.content %></p>
                </div>
                <div class="cate">
                  <span><%= el.category %></span>
                  <p><%= el.date %></p>
                </div>
              </div>
              <div class="content_img">
                <img src="<%= el.src %>" alt="" />
              </div>
            </div>
          </a>
          <% }); %>
          <!-- boardlist end -->
        </div>
        <!-- rt start -->
        <%- include('./rt.ejs') %>
        <!-- rt end -->
      </div>
    </div>
    <!-- container end -->

    <!-- footer start -->
    <%- include('footer.ejs') %>
    <!-- footer end -->
  </body>
</html>
