<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- header start -->

    <%- include('header.ejs') %>

    <!-- header end -->

    <!-- container start -->
    <div class="container">
      <div class="container_title">
        <div class="title_wrap">
          <h2>전체 글</h2>
          <span><%= data.length %></span>
          <p><a href="/ohstory/ins">insert</a></p>
        </div>
      </div>
      <div class="container_wrap">
        <div class="container_lt">
          <!-- boardlist start -->
          <% data.forEach((el, index) => { %>
          <a href="/ohstory/view/<%= el.id %>">
            <div class="boardlist">
              <div class="content">
                <div class="title">
                  <span><%= el.title %></span>
                </div>
                <div class="text">
                  <p><%= el.content %></p>
                </div>
                <div class="cate">
                  <span><%= el.category %></span>
                  <p><%= el.date %></p>
                </div>
              </div>
              <div class="content_img">
                <img src="<%= el.src %>" alt="" />
              </div>
            </div>
          </a>
          <% }); %>
          <!-- boardlist end -->
        </div>
        <!-- rt start -->
        <%- include('./rt.ejs') %>
        <!-- <div class="container_rt">
          <div class="profile">
            <div class="profile_img"></div>
          </div>
          <div class="category">
            <div class="category_wrap">
              <ul>
                <li><a href="/ohstory">viewAll</a></li>
                <li><a href="/ohstory">Javascript</a></li>
                <li><a href="/ohstory">GIT</a></li>
                <li><a href="/ohstory">CSS</a></li>
                <li><a href="/ohstory">HTML</a></li>
                <li><a href="/ohstory">Nodejs</a></li>
                <li><a href="/ohstory">MySQL</a></li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- rt end -->
      </div>
    </div>
    <!-- container end -->

    <%- include('footer.ejs') %>
    <!-- footer start -->
    <!-- <div class="footer">
      <div class="footer_wrap">
        <span>Copyright © Kakao Corp. All rights reserved.</span>
      </div>
    </div> -->
    <!-- footer end -->
  </body>
  <!-- <script src="/js/test.js"></script> -->
</html>
